@import "firstpage.css";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Bebas+Neue&display=swap');
@import "secondpage.css";
@import "threepage.css";



* {
    box-sizing: border-box;
  }

body {
    font-family: 'Archivo Black', sans-serif;
    width: 100%;
    height: 100%;
    
}

